%h1 Listing industries

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @industries.each do |industry|
    %tr
      %td= industry.name
      %td= link_to 'Show', industry
      %td= link_to 'Edit', edit_industry_path(industry)
      %td= link_to 'Destroy', industry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Industry', new_industry_path
